.BoxesFruits {
  display: flex;
  height: 550px;
  width: calc(100% + 60px);
  transform: translate(-30px);
  margin-top: 77px;
  margin-bottom: 50px;
  .Boxes {
    background: url(../../../../images/Hero/Boxes.png) no-repeat;
    background-position: 98% center;
    background-size: cover;
    width: 62%;
    position: relative;
    z-index: 2;
    margin-right: -27px;
    transform: translate(0, 1px);
  }
  .Fruits {
    width: 46%;
    height: 532px;
    background: url(../../../../images/Hero/Fruits.png)  no-repeat;
    background-position: left top;
    background-size: cover;
    position: relative;
    z-index: 1;
    transform: translate(0, 61px);
  }
  @media (min-width: 710px) {
    .Boxes,
    .Fruits {
      background-size: contain;
    }
  }
  @media (min-width: 768px) {
    margin-top: 0;
    position: absolute;
    height: 555px;
    top: 124px;
    left: -5px;
    justify-content: space-around;
    .Boxes,
    .Fruits {
      background-size: cover;
      background-position: center;
    }
    .Boxes{
      width: 394px;
      transform: translateX(-64%);
    }
    .Fruits {
      width: 315px;
      height: 530px;
      transform: translate(54%, -3%);
    }
  }
  @media (min-width: 1024px) {       
    .Boxes{
      transform: translateX(-72%);
    }
    .Fruits {
      transform: translate(70%, -3%);
    }
  }
  @media (min-width: 1280px) {       
    .Boxes{
      transform: translateX(-64%);
    }
    .Fruits {
      transform: translate(62%, -3%);
    }
  }
}