.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  position: fixed;
  background: #f8f9fb;
  border-bottom: 1px solid #d2d4d4;
  top: 0;
  width: 100%;
  z-index: 5;
  @media (min-width: 768px) {
    justify-content: flex-start;    
  }
}
