.animations {
  width: 481px;
  height: 374px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: 768px) {
    width: 622px;    
  }
  @media (min-width: 1024px) {
    transform: translate(-52%, -50%);
    width: 642px;    
  }
  @media (min-width: 1280px) {
    transform: translate(-58%, -52%);
    width: 724px;    
    height: 430px;
  }
}