.SectionTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: #21272e;
  padding: 0 8px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  @media (min-width: 768px) {
    font-size: 40px;
  }
  &.hero {
    max-width: 700px;
    margin-bottom: 48px;
    @media (min-width: 768px) {
      margin-bottom: 100px;
    }
  }
  &.partners {
    margin-bottom: 25px;
    @media (min-width: 768px) {
      margin-bottom: 65px;
    }
  }
  &.sectionSlider {
    margin-bottom: 16px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
  }
  &.communication {
    margin-bottom: 46px;
    font-size: 32px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
  }
  &.screenMobile {
    margin-bottom: 22px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }    
  }
  &.simpleSteps {
    margin-bottom: 62px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }    
  }
  &.sectionForm {
    margin-bottom: 52px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }    
  }
}