.SectionTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: #21272e;
  padding: 0 8px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  @media (min-width: 768px) {
    font-size: 40px;
  }
  &.hero {
    max-width: 700px;
    margin-bottom: 48px;
    padding: 0 0px;
    min-width: 303px;
    @media (min-width: 768px) {
      margin-bottom: 113px;
      min-width: 732px;
      transform: translateX(-12px);
      letter-spacing: 0.8px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 50px;
      min-width: 732px;
      transform: translateX(0px);
      letter-spacing: 0.8px;
    }
  }
  &.partners {
    margin-bottom: 25px;
    @media (min-width: 768px) {
      margin-bottom: 65px;
      font-size: 34px;
      letter-spacing: -0.3px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 70px;
    }
  }
  &.sectionSlider {
    margin-bottom: 16px;
    @media (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 34px;
      letter-spacing: -0.4px;
      padding: 16px 35px 0 0;
      text-align: left;
    }
  }
  &.communication {
    margin-bottom: 46px;
    font-size: 32px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media (min-width: 1024px) {
      margin:0 auto 40px 0;      
    }
    @media (min-width: 1280px) {
      padding: 0;  
      letter-spacing: 0.7px; 
    }
  }
  &.screenMobile {
    margin-bottom: 22px;
    width: 100%;
    text-align: center;
    @media (min-width: 768px) {
      margin-bottom: 22px;
      font-size: 34px;
      letter-spacing: -0.3px;
    }    
    @media (min-width: 1024px) {
      max-width: 500px;
      width: 50%;
      text-align: left;
      margin-bottom: 22px;
      font-size: 34px;
      letter-spacing: -0.3px;
    }
    @media (min-width: 1280px) {
      padding: 0;  
      letter-spacing: 0px; 
    }    
  }
  &.simpleSteps {
    margin-bottom: 62px;
    @media (min-width: 768px) {
      margin-bottom: 76px;
      font-size: 34px;
      letter-spacing: -0.3px;
    }    
    @media (min-width: 1024px) {
      margin-bottom: 85px;
      font-size: 34px;
      letter-spacing: -0.3px;
    }    
  }
  &.sectionForm {
    margin-bottom: 52px;
    max-width: 520px;
    @media (min-width: 768px) {
      margin-bottom: 72px;
      font-size: 34px;
      letter-spacing: -0.3px;
      max-width: 550px;
      position: relative;
    }    
    @media (min-width: 1024px) {
      font-size: 42px;     
      max-width: 380px;
      text-align: left;
      padding: 0;
      margin: 0 auto 78px 0;
    }    
    @media (min-width: 1280px) {    
      max-width: 480px;
      margin: 0 auto 96px 0;
    }    
  }
}