.hero {
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  
  background-image: linear-gradient(to top, white 411px, #f3f5f6 411px);
  @media (min-width: 768px) {
    background-image: linear-gradient(to top, white 428px, #f3f5f6 428px);
  }
  @media (min-width: 1024px) {
    background-image: linear-gradient(to top, white 573px, #f3f5f6 573px);
  }
  &:before {
    content: '';
    display: block;
    background: #f3f5f6;
    width: 100%;
    position: absolute;
    top: 84px;
    height: 1px;
    z-index: 5;
  }
}