.container {
  padding:0 20px 35px;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  @media (min-width: 768px) {
    padding: 0 30px 50px;
  }
  &.header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0 15px;
    @media (min-width: 768px) {
      padding: 0 30px;
      justify-content: flex-start;    
    }
  }
  &.hero {

  }
  &.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}