.wrapForm {
  width: 100%;
  margin-bottom: 50px;
  .closeOverlayModal,
  .closeModalForm {
    display: none;
  }
  &.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.63);
    width: 100vw;
    height: 100vh;
    z-index: 200;
    &>div {
      display: none;
    }
    .closeOverlayModal {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.63);
      width: 100vw;
      height: 100vh;
      z-index: 201;
    }
    
    .form {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 202;
      .closeModalForm {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
        border: solid 1px rgba(144, 149, 153, 0.35);
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background: rgba(0, 0, 0, 0.3);
          border: solid 1px rgba(144, 149, 153, 0.55);
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 8px;
          right: 16px;
          width: 4px;
          height: 20px;
          border-radius: 5px;
          background: rgba(0, 0, 0, 0.9);
        }
        &::after {
          transform: rotate(45deg);
        }
        &::before {
          transform: rotate(-45deg);
        }
      }
    }
    @media (min-width:768px) {
      &.active {
        display: block;
        .closeModalForm,
        .closeOverlayModal {
          display: block;
        }
        .form:hover + .closeOverlayModal {
          pointer-events: none;
        }
      }
    }
  }
  .form {
    width: 312px;
    height: 489px;
    margin: 0 auto;
    border-radius: 13px;
    box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 32px 32px 22px;
    .formTitle {
      font-size: 18px;
      font-weight: bold;
      color: #21272e;
      letter-spacing: 0.4px;
      text-align: center;
      margin-bottom: 54px;
    }
    .wrapInputs {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      margin-bottom: 6px;
      .input {
        width: 100%;
        margin-bottom: 32px;
        position: relative;
        input {
          width: 100%;
          border-radius: 10px;
          border: solid 1px rgba(144, 149, 153, 0.35);
          background-color: white; 
          height: 56px; 
          padding: 15px;
          transition: border 0.3s;
          &::placeholder {
            color: #b4babf;
          }
          &:focus {
            border: solid 1px #3897ff;
            &::placeholder {
              color: transparent;
            }
          }
        }
        label {
          position: absolute;
          display: block;
          color: transparent;
          top: -7px;
          left: 20px;
          background: transparent;
          padding: 0 3px;
          transition: color 0.3s, background 0.3s;
        }
        input:focus + label {
          color: #3897ff;
          background: #fff;
          &::after {
            opacity: 0;
          }
        }
      }
      .inputName {
      }
      .inputBusinessName {
      }
      .inputCode {
        width: 33%;
      }
      .inputTel{
        width: 61%;
        label {
          &::after {
            content: '';
            opacity: 1;
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 22px;
            left: 94px;
            background: url('../../../images/Form/phone.png');
            transition: opacity 0.3s;
          }
        }
        
      }
    }
    @media (min-width:768px) {
      width: 407px;
      height: 461px;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      position: relative;
      .formTitle {
        font-size: 18px;
        font-weight: bold;
        color: #21272e;
        letter-spacing: 0.4px;
        text-align: left;
        margin-bottom: 54px;
      }
      .wrapInputs {
        .inputCode {
          width: 28%;
        }
        .inputTel{
          width: 68%;
          label {
            &::after {              
              left: 174px;
            }
          }
        }
      }
      
    }
  }
  @media (min-width:1024px) {
    order: 1;
    width: auto;
    margin: 0 0 50px auto;
  }
}