.partnersList {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  width: 102vw;
  transform: translateX(-6%);
  .partnersItem {
    width: 164px;
    height: 127px;
    min-width: 164px;
    min-height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;    
    .itemLogo {
      object-fit: contain;
    }
    &:first-child {
      .itemLogo {
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
  @media (min-width: 768px) {
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(0);
    height: 100px;
    overflow: visible;
    .partnersItem {
      padding: 0;
      width: 124px;
      height: 77px;
      min-width: 124px;
      min-height: 77px;      
    }
  }
  @media (min-width: 1024px) {
    justify-content: space-around;
    .partnersItem {
      &:first-child {
        .itemLogo {
          max-height: 125%;
          object-fit: contain;
        }
      }     
    }
  }
}