.screen {
  max-width: 411px;
  max-height: 718px;
  min-width: 265px;
  min-height: 464px;
  border-radius: 46.8px;
  background-color: #e1eff0;
  margin: 0 auto 48px;
  position: relative;
  .wrapImg {
    padding: 15px 8px 0;
    transform: translate(-14%, 20px);
    margin-bottom: 2px;
    .img {

    }
  }
  .wrapDescr {
    padding:0 0 8px 0;      
    @media (min-width:430px) {
      padding:0 0 18px 0;      
    }
    .describe {
      opacity: 0.4;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #21272e;
      @media (min-width:430px) {
        font-size: 18px;     
      }
      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 24px;
        height: 24px;
      }
      &.tick {
        &::after {
          background: url(../../../images/Screens/tick.svg);
        }
      }
      &.arrow {
        &::after {
          background: url(../../../images/Screens/arrow.svg);
        }
      }
    }
  }
  @media (min-width:768px) {
    margin: 0 auto 97px;
    border-radius: 65px;
    .wrapImg {
      padding: 30px 6px 0;
      transform: translate(-12%, 20px);
      margin-bottom: -14px;
    }
    .wrapDescr {
      padding-bottom: 15px;
      .describe {
        font-size: 19px;
        &::after {
          content: '';
          margin: 2px auto 0;
        }
      }
    }
  }
  @media (min-width:1024px) {
    margin: 0 auto 0px;
    border-radius: 45px;
    &:not(:last-child) {
      margin-right: 47px;
    }
    .wrapImg {
      transform: translate(-13%, 20px);
      padding: 14px 8px 0;
      margin-bottom: -7px;
    }
    .wrapDescr {
      padding:0 0 26px 18px;
      .describe {
        font-size: 15px;
        &::after {          
          content: '';
          display: inline-block;
          margin: 0 0 0 1px;
          width: 24px;
          height: 24px;          
          transform: translate(0px, 6px);
        }
        &.arrow {
          &::after {
            transform: translate(0px, 8px) rotate(-90deg);
          }
        }
      }
    }
  }
  @media (min-width:1280px) {
    &:not(:last-child) {
      margin-right: 42px;
    }
    .wrapDescr {
      padding:0 0 36px 18px;
    }
    .wrapImg {
      transform: translate(-13%, 26px);
      padding: 14px 4px 0;
      margin-bottom: -17px;
    }
  }
}