$cool-grey: #a4afba;
$greyblue: #829dba;
$page-background: #eceff1;
$primary: #517398;
$pale-grey: #ebf0f5;
$pale-blue: #e8f3fe;
$dodger-blue: #3a9bfc;
$dusty-orange: #f27c27;
$ice-blue: #f4f8f9;
$ice-blue-two: #fcfdff;

$white: #ffffff;
$title: #21272e;
$hover-text: #3897ff;
$main-text: #787c80;
$small-text: #909599;
$desc-sreen: rgba(33, 39, 46, 0.4);
$placeholder: #b4babf;
$text-brown: #f43939;
$text-copy: rgba(255, 255, 255, 0.25);
$l-g-btn: linear-gradient(102deg, #ff474d, #fa4353 100%);


// variables for mixins
$sp-bt: space-between;
$sp-ar: space-around;
$cnt: center;
$rw: row;
$rw-r: row-reverse;
$clm: column;
$clm-r: column-reverse;

$transition: all 0.3s;
