.subtitle {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
  color: #f43939;
  margin-bottom: 16px;
  &.sectionForm {
    text-transform: uppercase;
    @media (min-width: 1024px) {      
      text-align: left;
      position: relative;
      padding-top: 79px;
      letter-spacing: 1.3px;
    } 
    @media (min-width: 1280px) {
      padding-top: 82px;
      margin-bottom: 14px;
    } 

  }
}