.subtitle {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: center;
  color: #f43939;
  margin-bottom: 16px;
  &.sectionForm {
    text-transform: uppercase;
  }
}