.WrapHomePageImg {
  width: 100%;
  margin-bottom: 16px;
  .HomePageImg {
    height: 430px;
    width: 120%;
    background: url(../../../images/Hero/Home-page_with-shadow.png) left no-repeat;
    background-size: cover;
    max-width: 711px;    
  }
  
  @media (min-width: 768px) {
    padding-top: 74px;
    .HomePageImg {
      width: 100%;
      margin: 0 auto;
      background-size: contain;
      background-position: center;
    }
  }
  @media (min-width: 1024px) {
    .HomePageImg {
      max-width: 984px;
      height: 550px;
    }
  }
}