.BoxesFruits {
  display: flex;
  height: 550px;
  width: calc(100% + 60px);
  transform: translate(-30px);
  margin-top: 77px;
  margin-bottom: 50px;
  .Boxes {
    background: url(../../../images/Hero/Boxes.png) 98% center no-repeat;
    background-size: cover;
    width: 69%;
    position: relative;
    z-index: 2;
    transform: translateX(10px);
  }
  .Fruits {
    width: 50%;
    background: url(../../../images/Hero/Fruits.png) left no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    transform: translate(-13px, 50px);
  }
  @media (min-width: 710px) {
    .Boxes,
    .Fruits {
      background-size: contain;
    }
  }
  @media (min-width: 768px) {
    margin-top: 0;
    position: absolute;
    height: 555px;
    top: 124px;
    left: -5px;
    justify-content: space-around;
    .Boxes,
    .Fruits {
      background-size: cover;
      background-position: center;
    }
    .Boxes{
      width: 394px;
      transform: translateX(-62%);
    }
    .Fruits {
      width: 315px;
      height: 530px;
      transform: translate(52%, -3%);
    }
  }
  @media (min-width: 1024px) {       
    .Boxes{
      transform: translateX(-70%);
    }
    .Fruits {
      transform: translate(68%, -3%);
    }
  }
  @media (min-width: 1280px) {       
    .Boxes{
      transform: translateX(-62%);
    }
    .Fruits {
      transform: translate(60%, -3%);
    }
  }
}