.OverlayWave {
  display: none;
  background-size: 130%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  @media (min-width: 768px) {
    display: block;
  }
  &.header {
    // background: url(../../images/WaveLines/1.png) no-repeat;
    
    
  }
  &.hero {
    background: url(../../../images/WaveLines/1.png) right top no-repeat;
    z-index: 0;
    height: 789px;
    background-size: 601px 781px;
    background-position: left 588px top 8px;
    top: 0px;
    @media (min-width: 1024px) {
      background-size: 601px 781px;
      background-position: left 588px top 8px;

    }
    
  }
  &.sectionSlider {
    background: url(../../../images/WaveLines/2.png) right top no-repeat;
    background-size: 963px 1520px;
    background-position: left 219px top 12px;
    top: -572px;
    height: calc(100% + 572px);
    transform: rotate(0deg);
    @media (min-width: 1024px) {
      top: -744px;
      height: calc(100% + 744px);
      background-position: left 219px top 12px;

    }
    
  }
  &.screenMobile {
    background: url(../../../images/WaveLines/3.png) right top no-repeat;
    z-index: 0;
    background-size: 702px 1431px;
    background-position: left 50px top 11px;
    top: 0px;
    height: 60%;
    @media (min-width: 1024px) {
      background-size: 703px 1413px;
      background-position: left 339px top 16px;
      top: 15px;
      box-shadow: inset 0px -70px 58px white;
      height: 36%;

    }
    
  }
  &.screenMobileTwo {
    height: 40%;
    background: url(../../../images/WaveLines/2.png) right top no-repeat;
    z-index: 0;
    background-size: 1027px 1923px;
    background-position: left 80% bottom 0px;
    top: auto;
    bottom: 0px;
    @media (min-width: 1024px) {
      display: none;
    }    
  }
  &.sectionForm {
    height: 100%;
    background: url(../../../images/WaveLines/4.png) right top no-repeat;
    background-size: 367px 756px;
    z-index: -1;
    background-position: left 171px bottom 847px;
    transform: translateX(20%);
    top: auto;
    bottom: 0px;
    @media (min-width: 1024px) {
      box-shadow: inset 0px 280px 56px -88px rgb(255, 255, 255);
      z-index: 0;
      transform: translateX(23%);
      background-position: left 28px bottom 5px;
      background-size: 374px 753px;
    }    
  }
  
}